<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivos node</title>
    <style>
        body{
            margin: auto;
            max-width: 800px;
            background-color: purple;
        }
        a{
            text-decoration: none;
            text-align: left;
            color: darkcyan;
        }
        h1{
            color: white;
            text-align: center;
        }
        p{
            color: white;
            text-align: center;
        }

    </style>
</head>
<body>
    <header>
        <a href="@">EJS</a>
    </header>
    <main>
        <h1>Arquivos NODE-EJS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed earum recusandae ullam, porro officia nisi asperiores animi dolorum et sunt voluptatem sapiente vitae totam similique nemo eligendi eveniet laborum repudiandae!</p>
    </main>
    <footer>
        <p>&copy;Michaela Galbiati</p>
    </footer>
    
</body>
</html>