<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/heade'); %>
<body>
    <%- include('../partials/header',{pagina: 'sobre'}); %>
    <main>
        <div>
            <h1>Sobre mim</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, doloribus corrupti? Id ex explicabo praesentium a deserunt fugiat velit dolore delectus alias iusto ab incidunt, iste nemo vitae tempore cupiditate.</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
    
</body>
</html>